img {
  border-radius: 50%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex{
  display: flex;
}

input {
  width: 25px;
  margin-left: 5px;
}


