<div class="main">
  <app-timer
    [messageColor]="(playersObs | async)[0].color ==='marble' ? '#D3D3D3': (playersObs | async)[0].color"
    [message]="isRollDiceTime ? 'Roll the Dice!!' : 'Its '+ (playersObs | async)[0].color +' Turn'"
    [timeToCountInSec]="timerTime"
    (finish)="changeTurns()"></app-timer>
  <div class="players">
      <app-player  *ngFor="let singlePlayer of (playersObs | async)"
        [color]="singlePlayer.color"
        [turn]="singlePlayer.turn"
        [value]="singlePlayer.points">
      </app-player>
  </div>
  <div>
    <button (click)="newGame()">new game</button>
  </div>
</div>
